@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

body, html{
  margin:0;
  padding:0;
  overflow: hidden;
}

.hero {
width: 100%;
display:flex;
align-items: center;
justify-content: center;
background-size: 300% 300%;
background-image: linear-gradient(-45deg, rgb(255, 180, 40) 0%, rgb(255, 154, 40) 25%, rgb(255, 205, 57) 51%, #ff693b 100%);
-webkit-animation: AnimateBG 20s ease infinite;
        animation: AnimateBG 20s ease infinite;
font-family: "Montserrat", sans-serif;
position: relative;
height: 100vh;
overflow: hidden;
transition: .3s ease;
pointer-events: auto;
}

@-webkit-keyframes AnimateBG {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

@keyframes AnimateBG {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.vl {
    opacity: 0;
    border-left: 6px solid rgb(255, 255, 255);
    height: 60%;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

.p5Canvas{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    z-index: 1;
    overflow: hidden;
    width: 45% !important;
    height: 60% !important;
    border: 3px #fff solid;
    border-radius: 10px; 
}

video {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    z-index: 0;
    border: 3px #fff solid;
    border-radius: 10px;
    height: 60%;
    overflow: hidden;
    visibility: hidden;
}

.about {
    color: #fff;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100%;
    z-index: 1;
}

.question {
    color: #ffffff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5vh;
    width: 80%;
    z-index: 1;
}

.answerA {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 12.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 400%;
    z-index: 10;
    width: max-content;
}

.answerB {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 87.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 400%;
    z-index: 10;
    width: max-content;
}

.timer{
    color: #ffffff;
    background: #e48602;
    border: 1px solid #c67400;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 15%;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
.timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 65%;
    width: 15%;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.btn {
    opacity: 0;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #3e3e3e;
    cursor: pointer;
    display: inline-flex;
    font-family: "Montserrat", sans-serif;
    height: 5%;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;

    left: 50%;
    top: 92.5%;
    transform: translate(-50%, -50%);
  }

.btn.show {
    opacity: 1;
}
  
.btn.show :focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
left: 50%;
top: 92.5%;
transform: translate(-50%, -50%);
}

.btn.show :hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
top: 92%;
}

.btn.show :active {
box-shadow: #D6D6E7 0 3px 7px inset;
top: 93%;
}

.elements {
    opacity: 0;
}

.elements.show {
    opacity: 1;
}

.result_box{
    position: absolute;
    font-family: "Montserrat", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}
.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}
.result_box .buttons{
    display: flex;
    margin: 20px 0;
}
.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #e2880a;
    transition: all 0.3s ease;
}
.buttons button.quit{
    color: #ff9500;
    background: #fff;
}
.buttons button.quit:hover{
    color: #fff;
    background: #ffa629;
}